src/
src/**
.vscode/
.husky/
*.js
*.mjs
tsconfig.json
node_modules/
bower_components/
*.log
build/
dist/
out
.vscode-test/
.vsix
secret.json
*.vsix
*.al
*.zip
AzureInsights/
app.json
launch.json
bin/
obj/
