.github/**
.vscode/**
.vscode-test/**
src/**
test/**
.eslintrc.json
.gitattributes
.gitignore
.prettierrc
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.eslintrc.json
jsconfig.json
tsconfig.json

node_modules/**
out/**
**/esbuild.js

